{% extends 'base.html.twig' %}
 
{% block title %}Post{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Post</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_post_index') }}"> 
                    View All Posts
                </a>
            </div>
            <div class="card-body">
				<b class="text-muted">Id:</b>
                <p>{{ post.id }}</p>
                <b class="text-muted">Name:</b>
                <p>{{ post.name }}</p> 
				<b class="text-muted">Content:</b>
                <p>{{ post.content }}</p> 
            </div>
        </div>
    </div>
{% endblock %}